* {
  margin: 0;
  padding: 0;
 
}
/* 
.App {
  background-color: lightgrey;
  height: 100vh;
} */

.header {
  text-align: center;
  padding: 1.5em;
}

.main {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: teal;
  margin: 0.8em;
}

.text {
  font-size: 18px;
  color: rgb(126, 124, 124);
}